Mockup Workflow n8n Maekitchen.json
{
  "name": "Mockup Workflow n8n Maekitchen",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are now \"Trio\" a \"Mae Kitchen\" restaurant agent, you can handle this following task : \n\n1. Send Our Menu, the menu content are in \"Menu Tool\"\n2. Always asking how much quantitiy that customer want buy\n3. Make reservation with \"Membuat Reservasi\" tool, you will need a time and name.\n4. Place take away order, you can put the record on \"Food Order Sheet\"\n5. At our restaurant we'll accept payment method with qris or bank account\n6. Make sure you will ask the customer will be payment with 2 method that i've been declare\n7. If customer send the screenshot of proof of payment, make sure update at Google Sheet\n8. Always say thankyou at the end of conversation\n\nGenerate a JSON object for an order that includes the following details :\n1. **Customer Details** : \n - `customer_name`: The name of the customer (string)\n - `phone`: The phone number of the customer (string)\n\n2. **Item Details**\n - `nama_makanan`: the name of makanan (string)\n - `quantity` : the quantity of the idem ordered (number)\n - `price` : the price of the item(number) \n\n### Example Data Send\n{\n  \"external_id\": \"order_001_maekitchen\",\n  \"amount\": 30000,\n  \"items\": [\n    {\n      \"nama_makanan\": \"Nasi Goreng Spesial\",\n      \"quantity\": 2,\n      \"price\": 15000\n    }\n  ],\n  \"customer\": {\n    \"customer_name\": \"Budi Santoso\",\n    \"phone\": \"+6281234567890\"\n  },\n  \"payment_methods\": [\"QRIS\", \"BANK_TRANSFER\"],\n  \"fees\": [\n    {\n      \"type\": \"SERVICE_FEE\",\n      \"value\": 0\n    }\n  ],\n  \"status\": \"pending_payment\"\n}\n\nYou can reteieve memory from conversation history\n\nMore information : \nToday is {{ $now }}\nUser Phone Number : \n\nHere's the user's question : \n{{ $json.message.text }}",
        "options": {
          "systemMessage": "=kamu adalah asisten yang membantu dalam membuat order dan invoice. \n\n##Instruksi\n\nTanyakan detail order jika data yang wajib diisi belum lengkap.\n\nData yang wajib diisi : \n- Nama \n- Nomor Hp\n- Nama_makanan\n- Jumlah\n- Harga\n- Tanggal_pengambilan\n- Total Pembayaran\n\nKamu wajib menggunakan tools Menu Resto untuk memberikan menu terlebih dahulu baru lakukan pencatatan di google sheet\n\n## Instruksi Membuat Reminder Pesanan Di Google Calendar (\"Calendar Create\")\n- Please use GMT+7 Jakarta Time\n- the default timezone from google calendar is america timezone\n- The user are from GMT+7 Jakarta Time\n\ndatetime {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1392,
        1024
      ],
      "id": "ef1ad0df-420f-402b-a945-2dd28f0d93d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "4",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1328,
        1328
      ],
      "id": "4d94c15e-e3c5-4244-8432-a44d936f78d1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=This is the “Create Calendar” tool, which is used to create new booking records. You must enter the start time (start_time) and end time (end_time) for the booking, as well as include the name in the booking time slot.\nYou must retrieve the Pickup Date information from the previous node and follow these instructions: \n1. Use GMT+7\n2. The user is from GMT+7",
        "calendar": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1904,
        1344
      ],
      "id": "597f3560-b647-443c-b312-bb123d4515e9",
      "name": "Membuat Reservasi"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1696,
        1328
      ],
      "id": "a6051b3a-7c02-46aa-b3ff-ef635d47c9f8",
      "name": "Mencatat Keseluruhan Data Informasi"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        1328
      ],
      "id": "e94777ce-526a-49c3-afe3-34eb582e6b1d",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1040,
        1024
      ],
      "id": "b4d37499-73b8-4365-a925-91bbdc394e0b",
      "name": "Telegram Trigger",
      "webhookId": "3d57c58b-b850-4601-8db7-b43900b50f15"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        1024
      ],
      "id": "befd881a-41f8-4809-bdee-3f9b3e5d428c",
      "name": "Send a text message",
      "webhookId": "6ed11505-b82a-48d8-98bb-0c26e6c34342",
      "credentials": {
        "telegramApi": {
          "id": "PsiToRcTivYucK4K",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        864,
        1232
      ],
      "id": "2b10ffc3-be21-436f-9efd-a15ea35c9588",
      "name": "When chat message received",
      "webhookId": "9ecbf145-195b-4370-8d55-7c838607c8ea",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=This is our restaurant menu list, provide this menu if user asking about the menu",
        "operation": "get",
        "documentURL": "="
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1504,
        1328
      ],
      "id": "894dce42-4e85-4448-883d-01dcd654a70d",
      "name": "Menampilkan Menu"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Reservasi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mencatat Keseluruhan Data Informasi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menampilkan Menu": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7aefdc2a-21f8-4c98-9954-302ae10b0858",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "60e74544b1f6bdcb6913b186646d6d79ba7b7c96d88e3520932c4412e8752caa"
  },
  "id": "IPTpPsHXV8znVW27",
  "tags": [
    {
      "updatedAt": "2026-07-13T11:07:35.412Z",
      "createdAt": "2026-07-13T11:07:35.412Z",
      "id": "mZjMgN829QBITSWV",
      "name": "Mockup Github"
    }
  ]
}